/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#666666;
    background-color:#fff;
   /* -webkit-font-smoothing:antialiased;*/
    
}
*,
*:before,
*:after {
    box-sizing:border-box;

}
h1, h2, h3, h4, h5, h6{
    margin:0;
}
p{
    margin: 0 0 10px 0;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    width:100%;
    max-width: 1170px;

}
/* Header
-----------*/
.header{
   
    width: 100%;
    height: 90px;
    top:0;
    left:0;
    z-index: 1000
    
}
.header__inner{
    padding: 21px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    
}
.header__contact{
    display:flex;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    align-items: center;
}
.header__icon_contact{
    margin-left: 30px;
    margin-right: 5px;
    width:15px;
    height: 10px;
}

/* Menu
-----------*/
.menu{
    width: 100%;
    height: 100%; 
    background-color: #fbfbfb; 
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    
}
.menu__inner{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.menu__razdeli{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.menu__item{
    
    width: 100px;
    height: 50px;
    
    border-right: 1px solid #e9e9e9;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .2s linear;
    
}
.menu__item:hover{
    background-color: #e9e9e9;
}
.menu__link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color:#666666;
    padding-left: 10px;

}
.menu__razdeli:first-child{
    border-left:  1px solid #e9e9e9;
    
}
.menu__social{
    display: flex;
    align-items: center;
    min-height: 55px;
}
.social__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    width: 25px;
    height: 25px;
   box-shadow: inset 0 0 0 1px rgba(195,195,195,1);
    border-radius: 50%;
    transition: box-shadow .2s linear;
}
.social__item:hover{
    box-shadow: inset 0 0 0 2px rgb(148, 148, 148);
}

.social{
    padding: 5px;
}

/* Intro
-----------*/
.intro{
    width: 100%;
    height: 600px;
    background: url(img/background.jpg) no-repeat;
    background-size: cover;
    background-color: #ccd9e1;
    background-position: 50% 50%;
    background-clip: border-box;
}
.intro__inner{
    display: flex;
    flex-direction: column;
    padding-top: 235px;
    align-items: center;
}
.intro__title{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    font-weight: 700;
    color: #5c5c5c;
    padding: 5px 10px;
    background-color: #fff;
    margin-bottom: 20px;
}
.intro__subtitle{
    font-family: 'Roboto Slab', serif;
    font-size: 22px;
    font-weight: 700;
    color: #5c5c5c;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}
.btn{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    background-color: #fa6c65;
    border:0;
    cursor: pointer;
    border-radius: 2px;
    transition: background .1s linear;
}
.btn:hover{
    background-color: #ee766f;
}
/* Creativ
-----------*/
.creativ{
    height: 420px;
    width: 100%;   
    background-color: #fbfbfb;
    box-shadow:  0 5px 1px -5px rgb(148, 148, 148);
    /* проверить тень*/
}
.creativ__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 130px;
    text-align: center;
    margin-bottom: 10px;
}
.creativ__title{
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 28px;
    font-weight: 700;
    color: #616161;
}
.creativ__title span{
    color: #fa6c65;
}
.creativ__subtitle{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
    color: #616161;
    line-height: 1.7;
    
}
.creativ__icon{
    display: flex;
    justify-content: center;
    
}
.icon__inner{
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon__logo{
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 2px rgb(197, 197, 197);
    border-radius: 50%;
}
.icon__text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #bfbfbf;  
    text-transform: uppercase;
    transition: box-shadow .2s linear;
    transition: color .2s linear;
}
.icon__inner:hover .icon__logo{
    box-shadow: inset 0 0 0 2px rgb(250, 108, 101); 
}
.icon__inner:hover .icon__text{
    color: rgb(250, 108, 101);
}


/* Works
-----------*/
.works{
    width: 100%;
    height: 980px;
    background-color: #fff;
}

.works__title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    margin: 70px 0;
}
.title__project{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:  #a8a8a8; 
    text-transform: uppercase;
    transition: color .2s linear;
    cursor: pointer;
}
.title__project:hover{
    color: #fa6c65;
}

.title__separator{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color:  #a8a8a8;   
    text-transform: uppercase;
    padding: 0 20px;
}
.title__making{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
    color: #a8a8a8;   
    transition: color .2s linear;
    cursor: pointer;  
}
.title__making:hover{
    color: #fa6c65;
}
.works__project{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.project__item{
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project__disk{
    width: 10px;
    height: 10px;
    border: 1px solid #7c7c7c;
    border-radius: 50%;
    margin-right: 10px;
    transition: border .2s linear;
}
.project__text{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #616161;  
    text-transform: uppercase; 
    transition: color .2s linear;
    cursor: pointer;  
}
.project__item:hover .project__text{
    color: #fa6c65;
    
}
.project__item:hover .project__disk{
    border: 1px solid #fa6c65;
    
}
.works__foto{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
   
}
.img__cont{
    display: flex;
    justify-content: center;
  
  width: 20%;
  overflow: hidden;
  
   height: 20%;
    margin: 5px;
    opacity: 1;
    transition: colopacity .2s linear;
    transition: cursor .2s linear;
}
.img__cont:hover{
    opacity: 0.7;
    cursor: pointer; 
}

/* Blog
-----------*/
.blog{
    height: 700px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fbfbfb;
}
.blog__text{
  text-align: center;
   margin-top: 70px;
   display: flex;
   flex-direction: column;
   align-items: center;
  
}
.blog__title{
    
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fa6c65;  
    text-transform: uppercase; 
}
.blog__subtitle{
    width: 720px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #7f7f7f; 
    line-height: 2;
}
.blog__item{
    width: 100%;
}
.blog__topic{
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
    background-color: #fbfbfb;
}
.blog__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* height: 390px;*/
    margin: 5px;
    width: 33.33333%;
    text-align: center;
    background-color: #fff;
    border: -5px solid #e9e9e9;
    overflow: hidden;
}
.topic__img{
    display: flex;
    justify-content: center;
}
.topic__title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #616161; 
    padding-top: 10px;
    
}
.topic__subtitle{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #9f9f9f; 
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Footer
-----------*/
.footer{
    width: 100%;
    height: 380px;
    background-color: #303538;
}
.footer__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}
.footer__block{
    width: 25%;
    padding: 0 35px;
}

.block__title{
    margin-top: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #acadad;
}
.footer__block p{
    color: #acadad;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0;
}
.footer__block .p_date{
    margin-top: -15px ; 
}


/* copyright
-----------*/
.copyright{
    width: 100%;
    height: 80px;
    background-color: #2d3134;
}
.copyright__text{
    padding-top: 35px;
    padding-left: 50px;
    color: #acadad;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* media
-----------*/
@media (min-width: 1600px){
    .works__foto{
        margin: 0 290px;
    }
    .img__cont{
        width: 25%;
        margin: 5px 0;
    }
    .blog__topic{
        margin: 0 50px;
    }
    .blog__container{
        width: auto;
    }
    .footer__block:first-child{
        padding-left: 100px;
    }
    .footer__block:last-child{
        padding-right: 100px;
    }
    .copyright__text{
        padding-left: 100px;
    }
    
}
@media (max-width: 897px){
.menu__item{
    width: 60px;
}
.menu__link{
    font-size: 12px;
    padding-left: 0px;
}
.creativ__inner{
    padding: 20px 100px;
}
.works__foto{
    margin: 0 0;
}
.block__title{
    margin-top: 20px;
}
.footer__block p {
    margin: 10px;
    font-size: 12px
}
.footer__block .p_date{
    margin-top: -5px ; 
}
.block__title{
    font-size: 14px;
}
}